<form class="form" [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="head">
    <h1><span style="color: #f1262c">Change</span> Password</h1>
    <p>
      Hey,Enter the following inputs <br />
      to change your password
    </p>
  </div>

  <div class="input-group mb-3 password">
    <i
      class="bi bi-lock-fill"
      [ngClass]="
        myForm.get('currentPassword')?.invalid &&
        myForm.get('currentPassword')?.touched
          ? 'bi bi-lock-fill icon-errors'
          : 'bi bi-lock-fill icon'
      "
    ></i>
    <input
      type="password"
      class="input"
      placeholder="Current Password"
      formControlName="currentPassword"
    />
    <div
      class="msg"
      *ngIf="
        myForm.get('currentPassword')?.invalid &&
        myForm.get('currentPassword')?.touched
      "
    >
      <div *ngIf="myForm.get('currentPassword')?.errors?.['required']">
        *Current Password is required
      </div>
    </div>
  </div>
  <div class="input-group mb-3 password">
    <i
      class="bi bi-lock-fill"
      [ngClass]="
        myForm.get('newPassword')?.invalid && myForm.get('newPassword')?.touched
          ? 'bi bi-lock-fill icon-errors'
          : 'bi bi-lock-fill icon'
      "
    ></i>
    <input
      type="password"
      class="input"
      placeholder="New Password"
      formControlName="newPassword"
    />
    <div
      class="msg"
      *ngIf="
        myForm.get('newPassword')?.invalid && myForm.get('newPassword')?.touched
      "
    >
      <div *ngIf="myForm.get('newPassword')?.errors?.['required']">
        *New Password is required
      </div>
      <div *ngIf="myForm.get('newPassword')?.errors?.['passwordstrength']">
        *must be strong password
      </div>
    </div>
  </div>
  <div class="input-group mb-3 password">
    <i
      class="bi bi-lock-fill"
      [ngClass]="
      (  myForm.get('confirmNewPassword')?.invalid &&
      myForm.get('confirmNewPassword')?.touched)  ||  (  myForm.get('confirmNewPassword')?.valid &&
      myForm.get('confirmNewPassword')?.touched && myForm.errors?.['passwordMismatch']) 
          ? 'bi bi-lock-fill icon-errors'
          : 'bi bi-lock-fill icon'
      "
    ></i>
    <input
      type="password"
      class="input"
      placeholder="Confirm New Password"
      formControlName="confirmNewPassword"
      [ngClass]="{
        'ng-invalid':
          myForm.hasError('passwordMismatch') &&
          myForm.get('confirmNewPassword')?.touched
      }"
    />
    <div
      class="msg"
      *ngIf="
        myForm.get('confirmNewPassword')?.invalid &&
        myForm.get('confirmNewPassword')?.touched
      "
    >
      <div *ngIf="myForm.get('confirmNewPassword')?.errors?.['required']">
        *Confirm password is requied
      </div>
    </div>
    <div
      class="msg"
      *ngIf="myForm.errors?.['passwordMismatch'] &&
    myForm.get('confirmNewPassword')?.touched && myForm.get('confirmNewPassword')?.valid"
    >
      *must match password
    </div>
  </div>
  <!-- <a class="link" routerLink="/login/otp">Forget password?</a> -->
  <button
    *ngIf="!submited"
    type="submit"
    class="btn p-2 mt-4 submit"
    [disabled]="
      myForm.get('currentPassword')?.invalid ||
      myForm.get('newPassword')?.invalid ||
      myForm.get('confirmNewPassword')?.invalid
    "
  >
    Submit
  </button>
  <button *ngIf="submited" type="submit" class="btn p-2 mt-4 submit-loading">
    <div class="loader"></div>
  </button>
</form>
