<form class="form" [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="head">
    <h1><span style="color: #f1262c">Admin</span> Login</h1>

    <p>
      Hey,Enter your details to get sign in <br />
      to your control panel
    </p>
  </div>

  <div class="input-group mb-3">
    <i
      class="bi bi-envelope-fill"
      [ngClass]="
        myForm.get('email')?.invalid && myForm.get('email')?.touched
          ? 'bi bi-envelope-fill icon-errors'
          : 'bi bi-envelope-fill icon'
      "
    ></i>

    <input
      type="email"
      class="input"
      placeholder="Email"
      formControlName="email"
    />
    <div
      class="msg"
      *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched"
    >
      <div *ngIf="myForm.get('email')?.errors?.['required']">
        *Email is required
      </div>
      <div *ngIf="myForm.get('email')?.errors?.['email']">*Incorrect Email</div>
    </div>
  </div>
  <div class="input-group mb-3 password">
    <i
      class="bi bi-lock-fill"
      [ngClass]="
        myForm.get('password')?.invalid && myForm.get('password')?.touched
          ? 'bi bi-lock-fill icon-errors'
          : 'bi bi-lock-fill icon'
      "
    ></i>
    <input
      type="password"
      class="input"
      placeholder="Password"
      formControlName="password"
    />
    <div
      class="msg"
      *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched"
    >
      <div *ngIf="myForm.get('password')?.errors?.['required']">
        *Password is required
      </div>
    </div>
  </div>

  <button
    *ngIf="!submited"
    type="submit"
    class="btn p-2 mt-4 login"
    [disabled]="myForm.get('password')?.invalid || myForm.get('email')?.invalid"
  >
    Login
  </button>
  <button *ngIf="submited" type="submit" class="btn p-2 mt-4 login-loading">
    <div class="loader"></div>
  </button>
</form>
<app-notification
  *ngIf="errorMassege === ''"
  #toast
  title="Success"
  message="Data saved successfully!"
  time="a few seconds ago"
></app-notification>
<app-notification
  *ngIf="errorMassege !== ''"
  #toast
  title="Success"
  message="Incorrect password or email"
  time="a few seconds ago"
></app-notification>
