:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.inputs {
  display: flex;
  margin: 20px;
  gap: 10px;
}
input {
  outline: none;
  width: 40px;
  height: 45px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: x-large;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}
.button {
  width: 100%;
  text-align: center;
}
.verfiy-btn {
  /* margin: 20px 0px; */
  border: 2px solid black;
  padding: 6px 25px;
  text-align: center;
  border-radius: 20px;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}
.verfiy-btn:hover {
  border: 0px;
  background-color: #f1262c;
  transition: background-color 0.5s ease-in-out;

  color: whitesmoke;
}
.input-red {
  border: 3px solid #f1262c;
}

.loading {
  text-align: center;
}
.loader {
  pointer-events: none;
  width: 40px;
  height: 40px;
  border: 6px solid transparent;
  border-radius: 50%;
  border-top-color: #f1262c;
  /* border-top-right-radius: 50%; */
  animation: an1 1s ease infinite;
}
@keyframes an1 {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
